
<link rel="stylesheet" href="/stylesheets/all.min.css">
<link rel='stylesheet' href='/boxicons/css/boxicons.min.css' >
<link rel="stylesheet" href="/stylesheets/sidebar.css">

<div class="logo_details">
    <i class="bx bxl-audible icon"></i>
    <div class="logo_name">ESATECH</div>
    <i class="bx bx-menu" id="btn"></i>
</div>
<ul class="nav-list">
    <li>
    <i class="bx bx-search"></i>
        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
    </li>
    <li class="sidebar_home">
        <a href="/">
            <!-- <i class="bx bx-grid-alt"></i> -->
            <i class="fa-solid fa-house"></i>
            <span class="link_name">Trang chủ</span>
        </a>
        <span class="tooltip">Trang chủ</span>
    </li>
    <li class="sidebar_navigation">
        <a href="/navigation">
            <i class="fa-solid fa-location-arrow"></i>
            <span class="link_name">Điều hướng</span>
        </a>
        <span class="tooltip">Điều hướng</span>
    </li>
    <li class="sidebar_control">
        <a href="/control">
            <i class="fa-solid fa-sliders"></i>
            <span class="link_name">Điều khiển</span>
        </a>
        <span class="tooltip">Điều khiển</span>
    </li>
    <li>
        <a href="/control/monitor">
            <i class="fa-solid fa-route"></i>
            <span class="link_name">Motinor</span>
        </a>
        <span class="tooltip">Monitor</span>
    </li>
    <!-- <li>
    <a href="#">
        <i class="bx bx-folder"></i>
        <span class="link_name">File Manger</span>
    </a>
    <span class="tooltip">File Manger</span>
    </li>
    <li>
    <a href="#">
        <i class="bx bx-cart-alt"></i>
        <span class="link_name">Order</span>
    </a>
    <span class="tooltip">Order</span>
    </li>
    <li>
    <a href="#">
        <i class="bx bx-cog"></i>
        <span class="link_name">Settings</span>
    </a>
    <span class="tooltip">Settings</span>
    </li>
    <li class="profile">
    <div class="profile_details">
        <img src="profile.jpeg" alt="profile image">
        <div class="profile_content">
        <div class="name">Anna Jhon</div>
        <div class="designation">Admin</div>
        </div>
    </div>
    <i class="bx bx-log-out" id="log_out"></i>
    </li> -->
</ul>
</div>
<!-- Scripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/sidebar.js"></script>
